body{
    background-color: rgb(177, 165, 229)
}
h1{
    color: rgb(85, 99, 225)
}
p{
    color: rgb(62, 71, 152)
}
aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 1px;
    float: right;
    font-style: italic;
  }