body{
    background-color: #EDDDD0;
}

h1,h2{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.p{
    color: black
}
aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 1px;
    float: right;
    font-style: italic;
  }

nav{
    background-color: white;
    text-align: center;

}

#headfont{
    font-family: Montserrat, sans-serif;
}
