body{
    background-color: #EDDDD0;
}

nav{
    text-align: center;
}
.p{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}

.p img{
    grid-row: 2;
    grid-column: 2/3;

}
.p h2{
    grid-column: 1 / -1;
}
.p p:first-child{
    grid-row: 2/3;
}
.secondp{
    grid-row: 3/4;
}
header{
    background-color: #A6CAD4;
}
#headfont{
    font-family: 'Montserrat', sans-serif;
    color: #334259;
    text-align: center;
}

footer{
    background-color: #A6CAD4;
    text-align: center;
}



